{% import "_includes/forms" as forms %}

{% macro configWarning(setting, file) -%}
    {{ "This is being overridden by the \"{setting}\" config setting."|t({ setting: setting })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{{ forms.textField({
    label: 'Mandrill API key'|t,
    name: 'apiKey',
    instructions: 'The API key to use for the Mandrill service. If not set, below "enabled" status has no effect, it will not work.'|t,
    value: settings.apiKey,
    warning: (craft.config.mandrillApiKey is defined ? configWarning('mandrillApiKey')),
    errors: settings.getErrors('apiKey'),
    autofocus: true,
    first: true
}) }}

{{ forms.lightswitchField({
    label: 'Enable Mandrill as service'|t,
    id: 'enabled-mandrill',
    name: 'enabled',
    name: 'enabled',
    instructions: 'Whether or not to use Mandrill as sending provider for all emails send by Craft\'s email-service.'|t,
    on: settings.enabled,
    warning: (craft.config.mandrillEnabled is defined ? configWarning('mandrillEnabled')),
    errors: settings.getErrors('enabled')
}) }}

<div class="field">
    <p class="warning">
        {{ 'Note: enabling this, will cause a second roundtrip of Craft\'s "email.onBeforeSendEmail" event.
            To capture all additions of all plugins. A little extra load is caused by this action.
            See documentation below for more information'|t }}
    </p>
</div>

<hr>

{{ forms.lightswitchField({
    label: 'Immediately register outbound'|t,
    id: 'immediately-register-outbound-mandrill',
    name: 'enabled',
    name: 'enabled',
    instructions: 'Whether or not to immediately register email after sending (done by a Craft task).'|t,
    on: settings.immediatelyRegisterOutbound,
    errors: settings.getErrors('immediatelyRegisterOutbound')
}) }}
